[submodule "public"]
	path = public
	url = git@github.com:XCDT-1337/xcdt-1337.github.io.git
[submodule "themes/after-dark"]
	path = themes/after-dark
	url = git@github.com:dwwmmn/after-after-dark.git
